.navbar-custom {
    background-color: goldenrod;
    font-family: 'Comfortaa', cursive;
    padding: 0px;
    box-shadow: inset 0px -20px 20px -10px rgba(0,0,0,0.25);
}
.navbar-custom a{
    margin-left: 15px;
    height: 100%;
    padding: 16px;;
    color:white;
    transition: 0.5s;
}
.navbar-custom a:hover{
    transition: 0.5s;
    text-shadow: 0 0 10px #FFFFFF;
}
.navbar {
    padding: 0px;
    box-shadow: inset 0px -10px 20px -10px rgba(0,0,0,0.05);
}