body {
    overflow: hidden;
    background: url("../img/cheese_index.png") no-repeat center center fixed;
    background-size: cover;
}
h1 {
    color: goldenrod;
    font-family: 'Righteous', cursive;
    font-size: 80px;
}
.container {
    padding: 100px;
    margin:0px
}
.container p{
    width: 600px;
    color:white;
    font-size:20px;
    font-family: 'Comfortaa', cursive;
    line-height: 1.5em;
    text-align: justify;
}
.nav {
    margin-top:250px;
}
.nav a{
    padding:15px;
    color:goldenrod;
    margin-right: 30px;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    transition: 0.5s ease;
    border-radius: 5px;
    border: 2px solid goldenrod;
}
.nav a:hover{
    background-color: goldenrod;
    color:white;
    transition: 0.5s ease;
}